/* ------------------- Couleurs ------------------- */
$couleur-fond-page: #f9fafb;
$couleur-fond-bloc: #ffffff;
$couleur-texte-principal: #111827;
$couleur-texte-secondaire: #6b7280;
$couleur-bordure: #e5e7eb;

$couleur-revenu: #115e59;
$couleur-depense: #9f1239;