@use 'variables' as *;

.header {
  padding: 1.25rem 1rem;
  background-color: $couleur-fond-bloc;
  border-bottom: 1px solid $couleur-bordure;

  &__titre {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: $couleur-texte-principal;
    text-align: center;
  }
}